<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= @request_path %></title>

  <style>
    body {
      margin: 0;
      padding: 15px;
      color: #c52f24;
      background: #f5f8fa;
    }

    pre {
      border: 0 !important;
    }

    .container {
      width: 100%;
    }
  </style>
</head>
<body>
<div class="container">
  <%= @exception.message %>
</div>
</body>
</html>
